.odd-number {
    background-color: #ff8686;
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

#second-number {
    color: rgb(26, 29, 235);
    font-size: 36px;
}

.adjust-size {
    font-size: 24px;
}

#fourth-number {
    background-color: hsl(106 100% 89.8%);
    font-size: 24px;
    font-weight: bold;
}